<div class="bg">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-6 col-lg-5 mx-auto">
                <div class="card_registro mt-5 mb-5">
                    <div class="card">
                        <div class="card-body text-center">
                            <form [formGroup]="signupForm" (ngSubmit)="enviar(signupForm.value)">
                                <h1 class="m-2">Registrate</h1>
                                <p class="mb-4">Es simple, fácil y gratis.</p>
                                <!--Nombre-->
                                <input formControlName="nombre" type="text" class="form-control input" placeholder="Nombre">
                                <!--Nombre validaciones-->
                                <div class="text-danger" *ngIf="signupForm.get('nombre').hasError('required') && signupForm.get('nombre').touched">
                                    Ingrese el nombre
                                </div>
                                <br>

                                <!--Apellido-->
                                <input formControlName="apellido" type="text" class="form-control" placeholder="Apellido">
                                <!--Apellido validaciones-->
                                <div class="text-danger" *ngIf="signupForm.get('apellido').hasError('required') && signupForm.get('apellido').touched">
                                    Ingrese el apellido
                                </div>
                                <br>

                                <!--DNI-->
                                <input formControlName="dni" type="number" class="form-control" placeholder="DNI">
                                <!--DNI validaciones-->
                                <div class="text-danger" *ngIf="signupForm.get('dni').hasError('required') && signupForm.get('dni').touched">
                                    El dni es requerido</div>
                                <br>

                                <!--Mail-->
                                <input formControlName="email" type="email" class="form-control" placeholder="E-mail">
                                <!--Mail validaciones-->
                                <div class="text-danger" *ngIf="signupForm.get('email').hasError('required') && signupForm.get('email').touched">
                                    Introduzca un e-mail</div>



                                <br>

                                <!--Contraseña-->
                                <input formControlName="clave" type="password" class="form-control" placeholder="Contraseña">

                                <!--Contraseña Validaciones-->
                                <div class="text-danger" *ngIf="signupForm.get('clave').hasError('required') && signupForm.get('clave').touched">
                                    Ingrese la contraseña</div>
                                <div class="text-danger" *ngIf="signupForm.get('clave').hasError('minlength') && signupForm.get('clave').dirty && signupForm.get('clave').touched">
                                    Debe contener al menos: 1 N°, 1 Mayúscula y 8 o + caracteres.
                                </div>
                                <br>
                                <input formControlName="clave2" type="password" class="form-control" placeholder="Reingrese la contraseña">
                                <div class="text-danger" *ngIf="signupForm.get('clave2').hasError('required') && signupForm.get('clave2').touched">
                                    Reingrese la contraseña</div>
                                <div class="text-danger" *ngIf="signupForm.get('clave2').hasError('minlength') && signupForm.get('clave2').dirty && signupForm.get('clave').touched">
                                    Debe contener al menos: 1 N°, 1 Mayúscula y 8 o + caracteres.
                                </div>
                                <br>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                    <label class="form-check-label" for="defaultCheck1">
                                        Acepto los <a href="#">terminos y condiciones</a>
                                    </label>
                                </div>

                                <div class="yaRegistrado">
                                    <p>¿Ya estas registrado? <a routerLink="/login">Iniciar sesión</a> </p>
                                </div>

                                <!--Boton Registrarse-->
                                <button type="button" class="btn btn-secondary mr-2" [disabled]="signupForm.invalid" placement="top" ngbPopover="" popoverTitle="Registro Exitoso!.">Registrarme</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>