<body>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card">
          <h3 class="title">Agua</h3>
          <img src="https://image.flaticon.com/icons/png/512/2385/2385538.png" class="imagen">
          <div class="pagar">
            <button class="btn" (click)="open1()">Pagar</button>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card">
          <h3 class="title">Gas</h3>
          <img src="https://image.flaticon.com/icons/png/512/2296/2296881.png" class="imagen">
          <div class="pagar">
            <button class="btn" (click)="open2()">Pagar</button>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card">
          <h3 class="title">Luz</h3>
          <img src="https://image.flaticon.com/icons/png/512/2385/2385519.png" class="imagen">
          <div class="pagar">
            <button class="btn" (click)="open3()">Pagar</button>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card">
          <h3 class="title">Internet</h3>
          <img src="https://image.flaticon.com/icons/png/512/929/929464.png" class="imagen">
          <div class="pagar">
            <button class="btn" (click)="open4()">Pagar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>