@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

/* Fondo responsive */

body{
    background-image: url(./img/imagenTransferencia.png);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;
}

body h1{
    color: #ffff;
    text-align: left;
    margin: 0;
    font-size: 20px;
    margin-bottom: 20px;
}

/* Botones */

.btn {
    background: rgba(0, 0, 0, 0.2);
    color:#ffff;
    margin:10px;
}

/* PREGUNTAS FRECUENTES */

.preguntas-frecuentes {
    background:rgba(0, 0, 0, 0.2);
}

::ng-deep .card {
    margin-bottom: 20px;
}

::ng-deep .btn.focus, .btn:focus{
    color:#EB7329;
}
  
::ng-deep .btn-link {
    color:black;
}

::ng-deep .btn-link:hover {
    color: #EB7329; 
    
}


/* DESARROLLADORES */
* {box-sizing: border-box;}

.desarrolladores {
    background: rgba(0, 0, 0, 0.2);
}

p{
    color: #ffff;
    text-align: center;
}

.circle-container {
    position: relative;
    width: 24em;
    height: 24em;
    padding: 2.8em;
    border-radius: 50%;
    margin: 1.75em auto 0;
  }
  
  .circle-container a {
    display: block;
    position: absolute;
    top: 50%;
    left: 45%;
    width: 4em;
    height: 4em;
    margin: -2em;
  }
  
  img {
    border-radius: 400px;
    width: 100px;
  }
  
  .center img {
      position: relative;
  }
  
  /* Abajo medio - No va nadie allí*/
  /*.deg1 img {
    position: relative;
    top: 150px;
  }*/
  /* Arriba medio */
  .deg2 img {
    position: relative;
    bottom: 150px;
  }
  /* Abajo a la der */
  .deg3 img {
    position: relative;
    top: 120px;
    left: 100px;
  } 
  /* Abajo a la izq */
  .deg4 img { 
    position: relative;
    top: 120px;
    right: 100px;
  }
  /* Arriba a la izq */
  .deg5 img {
    position: relative;
    bottom: 50px;
    right: 150px;
  }
  /* Arriba a la der */
  .deg6 img {
    position: relative;
    bottom: 50px;
    left: 150px;
  }

.fa {
    color: #EB7329;
}


/* CONTACTO */

/* Formulario de mensajería */

.contacto {
    background: rgba(0, 0, 0, 0.2);
}

.feature-title{
    text-align: center;
    color:#ffff;
}

.feature-image .fa {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.feature-image .fa {
    font-size: 30px;
}

.feature-image .fa {
    color: #EB7329;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
}

.contacto a{
    color: #EB7329;
}

.map{
    margin: right;
    width: 450px;
    margin-top: 20px;
    padding: 48px 10px;
}

.feature-image{
    color: #EB7329;
    position: relative;
    width: 88px;
    height: 88px;
    margin: 0 auto;
    border-radius: 50%;
    border: 1px solid #EB7329;
}

form{
    width: 450px;
    margin: left;
    padding: 50px 50px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
}

h2{
    color: #ffff;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}

input, textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}

textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}

#boton {
    background: #EB7329;
    color: #ffff;
    padding: 20px;
}

#boton:hover{
    cursor: pointer;
}

@media (max-width:480px){
    form{
        width: 100%;
    }
} 
   
