.bg {
    min-height: 100vh;
    height: auto;
    background-image: url(./../../../assets/img/fondo.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.box {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: rgba(245, 245, 245, 0.1);
    border-radius: 2.5rem;
}

::placeholder {
    color: white;
    opacity: 65%;
}

.titulo {
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #EB7329;
}

.card {
    width: 500px;
    border: none;
}

.form-control {
    height: 45px;
    border-radius: 10px;
}

.form-control:focus {
    box-shadow: none;
}

.casilla2 {
    background-color: rgba(245, 245, 245, 0.1);
}


button {
    display: block;
    background-color: #EB7329;
    width: 80%;
    border: none;
    margin: auto;
    border-radius: 10px;
    /* padding: 0.6rem;
    margin-top: 0.6rem; */
}

button:disabled{
    background-color: #EB7329;
}

table {
    text-align: center;
}

select {
    color: rgba(245, 245, 245, 0.1);
}

option {
    color: black;
    background-color: rgba(245, 245, 245, 0.1);
}

option:hover {
    color: rgba(245, 245, 245, 0.1);
    background-color: red;
}

