<div class="box">
    <h3 class="titulo text-center"><strong> GC PIL MONEY</strong></h3>
    <nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-4 sidebar1">
                    <div class="left-navigation">
                        <ul class="list">
                            <h5><strong>Bienvenido</strong></h5>
                            <li routerLink="/inicio">Inicio</li>
                            <li routerLink="/saldo">Consultar Saldo</li>
                            <li routerLink="/ingresos">Ingresar dinero</li>
                            <li routerLink="/extraer">Extraer dinero</li>
                            <li routerLink="">Transferencias</li>
                            <li routerLink="">Soporte técnico</li>
                        </ul>
                        <ul class="list">
                            <h5><strong>Otras funciones</strong></h5>
                            <li>Giro al descubierto</li>
                            <li>Pago de Servicios</li>
                            <li>Compra y venta de Dólares</li>
                            <li>Criptomonedas</li>
                            <li>Seguros</li>
                            <li>Préstamos</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>