@media (min-width: 768px){
    .alineado{
        display: flex;
        justify-content: flex-end;
        align-content: flex-end;
        flex-wrap: wrap;
        flex-direction: column;
    }
}

header{
    background-color: #fd7a00f6;
}

a, span{
    color: white;
}

