<header>
    <nav class="navbar navbar-expand-md">
      <span class="navbar-brand"><h3>GC PilMoney</h3></span>
    
      <button class="navbar-toggler navbar-toggler-right" type="button" aria-controls="appNavigation" aria-expanded="!isCollapsed" aria-label="Toggle navigation" (click)="toggleMenu()">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse alineado" id="appNavigation" [ngbCollapse]="isCollapsed" *ngIf="blnDisplayMenu">
        <div class="navbar-nav mr-auto">
          <a (click)="toggleMenu()" class="nav-item nav-link btn-lg" routerLink="/home" routerLinkActive="active">Mi Perfil</a>
          <a (click)="toggleMenu('salir')" class="nav-item nav-link btn-lg" routerLink="/login" routerLinkActive="active">Cerrar Sesion</a>
        </div>
      </div>
    </nav>
  </header>

