.background{
    min-height: 100vh;
    height: auto;
    background-image: url(../pages/registro/img/fondo.png);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.card{
    background-color: rgba(245, 245, 245, 0.1);
    border-radius: 2.5rem;
}
.card_login{
    margin: 10rem 0 0 0;
}
.card-body input{
    border: none;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
    color: white;
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

h1, p{
    color: rgb(241, 241, 241);
}

::placeholder{
    color: rgba(255, 255, 255, 0.6);
}

button {
    background-color: #EB7329;
    border: none;
    border-radius: 5rem;
    padding: 0.6rem;
    margin-top: 0.6rem;
}

button:disabled{
    background-color: #EB7329;
}

.p{
    font-weight: 200;
    margin-top: 1.8rem;
  }

a{
    font-weight: 600;
    color: white;
}
a:hover{
    cursor: pointer;
}

.pass{
    margin-top: -0.7rem  
}


.btn{
    margin-top: -0.6rem
}