<div>
    <div class="fondo row justify-content-center align-items-center">
        <div class="texto d-flex flex-row justify-content-center align-items-center">
            <img class="gc-logo pl-3" src="assets/img/logoApp2.png" alt="">
            <div class="ml-4">
                <h1><strong>GC</strong> tu billetera virtual</h1>
                <h3>Fácil de usar. Amigable y Confiable.</h3>                
            </div>
        </div>
    </div>            
    <div class="main">
      <div class="section section-images">
          <div class="container">
              <div class="row">
                  <div class="col-md-12 media">
                      <div class="col-md-6 d-flex flex-column align-items-between">
                          <img src="assets/img/2da.png" class="hero" alt="">
                          <a routerLink="/registro" type="button" class="btn btn-dark mb-5">Registrate</a>
                      </div>
                      <div class="col-md-6 d-flex flex-column">
                          <img src="assets/img/hero-image-2.jpeg" class="hero" alt="">
                          <a routerLink="/login" type="button" class="btn btn-dark">Inicia Sesión</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
</div>
