<div class="login">  
  <div class="main-div container">
    <form [formGroup]="signupForm" class="custom-form text-center align-center" (ngSubmit)="enviar(signupForm.value)">
      <h1 class="mb-3">Login</h1>
        <p>Por favor, ingresa tu email y contraseña</p>
        <input formControlName="usuario" type="text" class="text-center text-white" placeholder="Email"> 
        <div class="text-danger" *ngIf="signupForm.get('usuario').hasError('required') && signupForm.get('usuario').touched">Ingrese el usuario</div>
      <div *ngIf="signupForm.get('usuario').hasError('minlength')">Cantidad minima de caracteres es 4</div>
        <input formControlName="password" type="text" class="text-center text-white" placeholder="Contraseña"> 
        <div class="text-danger password" *ngIf="signupForm.get('password').hasError('required') && signupForm.get('password').touched">Ingrese la contraseña</div>
      <div *ngIf="signupForm.get('password').hasError('minlength')">Cantidad minima de caracteres es 6</div>
      <br>
      <button class="button" [disabled]="signupForm.invalid">Ingresar</button>
      <br>
      <p class="p"> ¿No tienes una cuenta? <a class="registrarse" routerLink="/registro">Registrate</a></p>
    </form>
  </div>
</div>


   
   
    
