.login{
  min-height: 100vh;
  height: auto;
  background-image: url(../registro/img/fondo.png); 
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.custom-form {
  min-width: 300px;
  max-width: 60%;
  margin: 0px auto;
  background: rgba(255, 255, 255, 0.15);
  padding: 2rem 3rem;
  margin: auto;
  border-radius: 2.5rem;
    color: black;
  margin-top: 0px;
}
.custom-form input {
  display: block;
  margin: 1rem 0;
  width: 100%;
  border-radius: 0.5rem;
  padding: 0.6rem;
  border: none;
  border: 0 none;
  background: rgba(255, 255, 255, 0.1);
}
.button {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  border: none;
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.8);
  font-weight: bold;
  background-color: #EB7329;
  width: 100%;
  display: block;
  padding: 0.875rem 1rem;
  border-radius: 1.5rem;
  cursor: pointer;
  margin-top: -0.5rem;
}

.main-div {
  border-radius: 2px;
  margin: auto;
  width: 50%;
  padding-top: 5rem;
  text-align: center;
}
.p{
  font-weight: 200;
}

h1, p{
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 1.4rem;
}

.registrarse{
  border: none;
  background: none;
  color: rgba(255, 255, 255, 0.8);
  margin: 1rem 0 0 0;
  font-weight: bolder;
}
