<div class=" col-xl-2 col-lg-3 col-md-4 col-sm-12" id="menu">
    <ul class="nav flex-column">
        <div >
            <li class="nav-item">
              <a class="nav-link active" href="#">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Ingresar dinero</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Retirar dinero</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Giros al decubierto</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Consultas de saldos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Últimas operaciones</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Transferencias</a>
            </li>
        </div>
        <div id="menu-soporte">
            <li class="nav-item">
                <a class="nav-link" href="#">Soporte técnico</a>
            </li>
        </div>
      </ul>
</div>