<div class="bg">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 mx-auto">
                <div class="card_registro mt-5 mb-5">
                    <div class="card" *ngIf="!mostrar">
                        <div class="card-body text-center">

                            <h1 class="card-title pb-3" id="title">Ingresar dinero</h1>

                            <form [formGroup]="IngresoForm" (ngSubmit)="enviar(IngresoForm.value)" >
                                   
                                    <div class="p-2">
                                        <label>Ingrese monto</label>
                                        <input class="form-control" type="number"  pattern="^\d*(\.\d{0,2})?$" formControlName="monto"
                                            placeholder="ej. 100.00" />
                                    </div>
                                    <!--Validaciones dinero requerido-->
                                    <div class="text-danger d-flex flex-row justify-content-center alig-items-center"
                                        *ngIf="IngresoForm.get('monto').hasError('required') && IngresoForm.get('monto').touched" id="msj-adv">
                                        El monto es necesario
                                     </div>
                        
                                     <!--Validacion monto minimo-->
                                        <div class="text-danger d-flex flex-row justify-content-center alig-items-center" *ngIf="IngresoForm.get('monto').hasError('max')" id="msj-adv">
                                            Ingrese un monto valido, menor a $50.000
                                        </div>

                                    <div class="p-2" >
                                        <label>Elija tipo</label>
                                        <select class="form-select col-12" aria-label="Default select example" id="select-ingreso">
                                            <option selected value="1">Pesos</option>
                                            <!-- <option value="2">Dolar</option>
                                            <option value="3">BitCoins</option> -->
                                        </select>
                                    </div>
                                    <!--Campo Boton-->
                                    <div class="d-flex flex-row justify-content-center alig-items-center">
                                        <button class="btn btn-primary mt-3 mb-3 col-11" [disabled]="IngresoForm.invalid">Realizar Operacion</button>
                                    </div>
                            </form>
                        </div>
                    </div>
                    <div *ngIf="mostrar" class="card">
                        <div class="card-body text-center">

                            <h1 class="card-title pb-3" id="title">Ingreso de Dinero Exitoso!!</h1>
                            <div>
                                <button class="btn btn-dark mt-3 mb-3 col-11" routerLink="../movimientos">Volver al Home</button>
                                <button class="btn btn-dark mt-3 mb-3 col-11" (click)="mostrarForm()">Ingresar nuevamente dinero</button>
                            </div>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

