<footer class="footer mt-auto py-3 bg-light">
    <div class="">                   
      <ul class="social-list">
      <li><a class="fa fa-facebook" href="http://facebook.com/"></a></li>
      <li><a class="fa fa-twitter" href="http://twitter.com/"></a></li>
      <li><a class="fa fa-instagram" href="http://instagram.com/"></a></li>
      <li><a class="fa fa-linkedin" href="http://linkedin.com/"></a></li>
      <li><a class="fa fa-github" href="http://github.com/"></a></li>
      </ul>
    </div>
  </footer>
