<div class="bg">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 mx-auto">
                <div class="card_registro mt-5 mb-5">
                    <div class="card">
                        <div class="card-body text-center">
                            <form [formGroup]="signupForm" (ngSubmit)="enviar(signupForm.value)">
                                <h1>REGISTRATE</h1>
                                <p>Es simple, facil y gratis</p>
                                <!--Nombre-->
                                <input formControlName="nombre" type="text" class="form-control input"
                                    placeholder="Nombre">
                                <div class="text-danger"
                                    *ngIf="signupForm.get('nombre').hasError('required') && signupForm.get('nombre').touched">
                                    Ingrese el nombre
                                </div>
                                <br>

                                <!--Apellido-->
                                <input formControlName="apellido" type="text" class="form-control"
                                    placeholder="Apellido">
                                <div class="text-danger"
                                    *ngIf="signupForm.get('apellido').hasError('required') && signupForm.get('apellido').touched">
                                    Ingrese el
                                    apellido</div>
                                <br>

                                <!--DNI-->
                                <input formControlName="dni" type="number" class="form-control" placeholder="DNI">
                                <div class="text-danger"
                                    *ngIf="signupForm.get('dni').hasError('required') && signupForm.get('dni').touched">
                                    El
                                    dni
                                    es requerido</div>
                                <br>

                                <!--Mail-->
                                <input formControlName="mail" type="mail" class="form-control" placeholder="E-mail">
                                <div class="text-danger"
                                    *ngIf="signupForm.get('mail').hasError('required') && signupForm.get('mail').touched">
                                    Introduzca un mail</div>
                                <br>

                                <!--Usuario-->
                                <input formControlName="usuario" type="text" class="form-control" placeholder="Usuario">
                                <!--Usuario Validaciones-->
                                <div class="text-danger"
                                    *ngIf="signupForm.get('usuario').hasError('required') && signupForm.get('usuario').touched">
                                    Ingrese el
                                    usuario
                                </div>
                                <div *ngIf="signupForm.get('usuario').hasError('minlength')">Cantidad minima de
                                    caracteres es 4
                                </div>
                                <br>

                                <!--Contraseña-->
                                <input formControlName="clave" type="password" class="form-control"
                                    placeholder="Contraseña">
                                <!--Contraseña Validaciones-->
                                <div class="text-danger"
                                    *ngIf="signupForm.get('clave').hasError('required') && signupForm.get('clave').touched">
                                    Ingrese la clave</div>
                                <div class="text-danger"
                                    *ngIf="signupForm.get('clave').hasError('minlength') && signupForm.get('clave').dirty && signupForm.get('clave').touched">
                                    Cantidad minima de caracteres es 6</div>
                                <br>

                                <!--Boton Registrarse-->
                                <button class="btn btn-primary" [disabled]="signupForm.invalid">Registrarme</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>