
<div class="fondo row justify-content-center mt-5 mb-5">

<div class="card-body text-center justify-content-center mt-5 mb-5 ml-5">
    <div class="card-header text-white">
       <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link btn-dark active" routerLink="/saldo">Saldo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/ultimosMov">Ultimos Movimientos</a>
        </li>
        
      </ul>
    </div>
    <div class="card-body">
      <button class="btn btn-dark ml-auto" routerLink="/micbu">MI CBU</button>
      <h3 class="card-text  text-white">SALDO DISPONIBLE</h3>
      <h1 class="card-title display-1 text-white justify-content-center">$123.099</h1>
    
      <button class="btn btn-dark" routerLink="/retirarDinero">Extraer dinero</button>
      <button  class="btn btn-dark" routerLink="/ingresarDinero">Ingresar dinero</button>
      <button class="btn btn-dark" routerLink="/tranferir">Transferir dinero</button>
      
    </div>
  </div>
  </div>

