<div class="bg">
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 mx-auto">
            <div class="card_transferencia mt-5 mb-5">
                <div class="card">
                    <div class="card-body text-center">
                        <h1 class="card-title pb-3">Transferencia</h1>
                        <form [formGroup]="transferForm" (ngSubmit)="enviar(transferForm.value)">
                            <div class="form-row">

                                <!--Campo nombre-->
                                <div class="form-group col-md-6">
                                    <label>Nombre completo</label>
                                    <input class="form-control" type="text" formControlName="nombre"
                                        placeholder="Nombre" />

                                    <!--Validaciones nombre necesario-->
                                    <div class="text-danger"
                                        *ngIf="transferForm.get('nombre').hasError('required') && transferForm.get('nombre').touched">
                                        El nombre es necesario
                                    </div>

                                    <!--Validacion Longitud del nombre-->
                                    <div class="text-danger" *ngIf="transferForm.get('nombre').hasError('minlength')">
                                        Ingrese nombre valido
                                    </div>
                                </div>

                                <!--Campo DNI-->
                                <div class="form-group col-md-6">
                                    <label>DNI</label>
                                    <input class="form-control" type="number" formControlName="dni" placeholder="DNI" />
                                    <!--Validaciones del campo DNI-->
                                    <div class="text-danger"
                                        *ngIf="transferForm.get('dni').hasError('required') && transferForm.get('dni').touched">
                                        El DNI necesario
                                    </div>

                                    <!--Validacion numero minimo '0'-->
                                    <div class="text-danger" *ngIf="transferForm.get('dni').hasError('min')">
                                        Ingrese un DNI valido
                                    </div>

                                </div>
                            </div>
                            <br>

                            <div class="form-row">
                                <!--Campo CBU-->
                                <div class="form-group col-md-6">
                                    <label>CBU/CVU</label>
                                    <input class="form-control" formControlName="cbu" type="number" />

                                    <!--Validacion CBU requerido-->
                                    <div class="text-danger"
                                        *ngIf="transferForm.get('cbu').hasError('required') && transferForm.get('cbu').touched ">
                                        El CBU es necesario
                                    </div>

                                    <!--Validacion que solicita un dni valido-->
                                    <div class="text-danger" *ngIf="transferForm.get('cbu').hasError('min')">
                                        Ingrese en CBU valido
                                    </div>

                                </div>

                                <!--Campo monto-->
                                <div class=" form-group col-md-6">
                                    <label>Dinero a transferir</label>
                                    <input class="form-control" type="number" formControlName="monto"
                                        placeholder="Monto" />

                                    <!--Validaciones dinero requerido-->
                                    <div class="text-danger"
                                        *ngIf="transferForm.get('monto').hasError('required') && transferForm.get('monto').touched ">
                                        El monto es necesario
                                    </div>

                                    <!--Validacion monto minimo-->
                                    <div class="text-danger" *ngIf="transferForm.get('monto').hasError('min')">Ingrese
                                        un monto valido</div>

                                    <!--Validacion monto maximo a transaccionar-->
                                    <div class="text-danger" *ngIf="transferForm.get('monto').hasError('max')">No se
                                        puede transferir este monto. Consulte con atencion al cliente</div>

                                </div>
                            </div>
                            <br>

                            <!--Campo Email-->
                            <label>Mail del destinatario</label>
                            <input class="form-control" type="email" formControlName="mail" placeholder="E-mail" />

                            <!--Validaciones mail requerido-->
                            <div class="text-danger"
                                *ngIf="transferForm.get('mail').hasError('required') && transferForm.get('mail').touched ">
                                El mail es necesario
                            </div>

                            <!--Validacion formato mail-->
                            <div class="text-danger"
                                *ngIf="transferForm.get('mail').hasError('email') && transferForm.get('mail').touched">
                                Ingrese un mail valido
                            </div>
                            <br>

                            <!--Campo Motivo-->
                            <div class="form-group">
                                <label>Motivo</label>
                                <select class="form-control" aria-label="Default select example" required>
                                    <option>Varios</option>
                                    <option>Expensas</option>
                                    <option>Alquiler</option>
                                </select>
                            </div>

                            <!--Campo Boton-->
                            <button class="btn btn-primary" [disabled]="transferForm.invalid">Transferir</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>